#pfsense 01-inputs.conf
input {
  udp {
    port => 5140
  }
}
output {
  elasticsearch {
    id => "pf"
    hosts => ["http://localhost:9200"]
    index => "pf-%{+YYYY.MM.dd}"
    username: "elastic"
    password: "changeme"
  }
}

input {
  beats {
    port => 5044
  }
}

output {
  elasticsearch {
    hosts => ["http://localhost:9200"]
    index => "%{[@metadata][beat]}-%{[@metadata][version]}"
    username: "elastic"
    password: "changeme"
  }
}